@import '@/styles/variables';

@keyframes show-popup-hide {
  0% {
    background-color: $text-color-secondary;
    opacity: 1;
  }

  75% {
    background-color: $text-color-main;
    opacity: 1;
  }

  99% {
    z-index: 5;
    opacity: 0;
  }

  100% {
    z-index: -1;
    opacity: 0;
  }
}

.popup {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 11;
  overflow: hidden;
  border-radius: 4px;
  text-align: center;
  background-color: $text-color-secondary;
  animation: show-popup-hide 3s ease-in-out 0s 1 forwards;
  backdrop-filter: blur(5px);
}
