@import '@/styles/variables';

.backdrop {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;

  &Light {
    background-color: $transparent-white;
  }

  &Dark {
    background-color: $text-color-secondary;
  }

  &Clickable {
    cursor: pointer;
  }
}
