@import 'styles/variables';
@import 'styles/mixin';

.userControlPanel {
  display: flex;
  width: 172px;
  height: 86px;
  box-shadow: 0 4px 25px 0 $shadow-color;
  background-color: #fff;
}

.button {
  margin: 0;
  outline: none;
  border: none;
  padding: 0;
  width: 86px;
  height: 86px;
  background-color: #fff;
  cursor: pointer;

  &:first-child {
    border-radius: 4px 0 0 4px;
  }

  &:last-child {
    border-radius: 0 4px 4px 0;
  }

  @include hover-not-touch {
    border: 1px solid $border-color;
    background-color: $transparent-black-background;
  }
}
