$text-color-main: rgba(31, 32, 65, 1);
$text-color-secondary: rgba(31, 32, 65, 0.75);
$text-color-translucent: rgba(31, 32, 65, 0.5);
$transparent_black: rgba(31, 32, 65, 0.25);
$shadow-color: rgba(31, 32, 65, 0.1);
$transparent-black-background: rgba(31, 32, 65, 0.05);
$border-color: rgba(0, 0, 0, 0.12);
$popup-background-color: rgba(31, 32, 65, 0.8);
$hover-menu-item-color: rgba(184, 184, 184, 0.2);
$error-text-color: #721c24;
$error-border-color: #f5c6cb;
$error-background-color: #f8d7da;
$green: #6fcf97;
$transparent-white: rgba(255, 255, 255, 0.7);
$green-gradient: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
$purple: #bc9cff;
$purple-gradient: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
$yellow-gradient: linear-gradient(180deg, #ffe39c 0%, #ffba9c 100%);
$orange-gradient: linear-gradient(180deg, #fe8025 0%, #f36262 100%);
$dark-gradient: linear-gradient(180deg, #919191 0%, #3d4975 100%);
$red: #bd2323;
$red-gradient: linear-gradient(180deg, #f00 0%, rgba(182, 11, 11, 0.9) 100%);
$box-shadow-huge: 0 5px 25px rgba(31, 32, 65, 0.5);
$box-shadow-bold: 0 10px 20px rgba(31, 32, 65, 0.05);
$box-shadow-bold-secondary: 0 10px 20px rgba(31, 32, 65, 0.1);
$box-shadow-light: 0 0 25px rgba(0, 0, 0, 0.2);
$box-shadow-purple: 20px 20px 60px 0 rgba(188, 156, 255, 0.25);
$font-size-huge: 48px;
$font-size-icon: 32px;
$font-size-big: 24px;
$font-size-medium: 19px;
$font-size-normal: 14px;
$font-size-small: 12px;
$font-size-little: 10px;
$max-width: 1920px;
$min-width: 320px;
